version: '3'
services:
  mc-backend:
    build: .
    image: mc-backend:v1
    container_name: MC-Backend
    environment:
      - PYTHONPATH=/app
    ports:
      - 5000:5000
    restart: on-failure
    network_mode: "host"